In [20]:
import pandas as pd
from csdmpy.data.ssda903 import SSDA903TableType
from csdmpy.datacontainer import DemandModellingDataContainer
import csdmpy_fakedata as sample
import csdmpy.timeseries as ts
import csdmpy.populations as pop
import csdmpy.constants as C
import csdmpy.transitions as trans

In [25]:
hist_start, ref_start, ref_end, hist_end, pred_end = pd.to_datetime(
    ['2015-01-01', '2019-07-01', '2020-01-01', '2020-01-01', '2021-07-01'])

In [26]:
dc = DemandModellingDataContainer(sample.V1)
df = dc.get_enriched_view()
df.to_excel('../../data-new.xlsx', index=False)
df

,CHILD,SEX,DOB,ETHNIC,UPN,MOTHER,MC_DOB,DECOM,RNE,LS,...,URN,age,end_age,age_bin,end_age_bin,PLACE_AFTER,PLACE_BEFORE,placement_type,placement_type_before,placement_type_after
69,91,2,1999-10-19,MOTH,W064737016429,NaN,NaN,2016-09-01,P,J2,...,2141660,16.871098,17.985434,SIXTEEN_TO_EIGHTEEN,SIXTEEN_TO_EIGHTEEN,PlacementType.NOT_IN_CARE,PlacementType.NOT_IN_CARE,PlacementCategory.SUPPORTED,PlacementCategory.OTHER,PlacementCategory.OTHER
360,290,2,2000-11-13,MWBC,S077270991828,NaN,NaN,2016-11-19,T,D1,...,9727828,16.016866,17.881393,SIXTEEN_TO_EIGHTEEN,SIXTEEN_TO_EIGHTEEN,U5,PlacementType.NOT_IN_CARE,PlacementCategory.FOSTER,PlacementCategory.OTHER,PlacementCategory.FOSTER
361,290,2,2000-11-13,MWBC,S077270991828,NaN,NaN,2018-10-01,L,J3,...,9727828,17.881393,17.985434,SIXTEEN_TO_EIGHTEEN,SIXTEEN_TO_EIGHTEEN,PlacementType.NOT_IN_CARE,U5,PlacementCategory.FOSTER,PlacementCategory.FOSTER,PlacementCategory.OTHER
507,519,1,2002-03-26,AOTH,Z083151961630,NaN,NaN,2017-03-09,P,J2,...,3701521,14.954550,15.472018,TEN_TO_SIXTEEN,TEN_TO_SIXTEEN,U5,PlacementType.NOT_IN_CARE,PlacementCategory.FOSTER,PlacementCategory.OTHER,PlacementCategory.FOSTER
508,519,1,2002-03-26,AOTH,Z083151961630,NaN,NaN,2017-09-14,S,D1,...,5289150,15.472018,15.904611,TEN_TO_SIXTEEN,TEN_TO_SIXTEEN,U5,U4,PlacementCategory.FOSTER,PlacementCategory.FOSTER,PlacementCategory.FOSTER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,994520,1,1999-12-18,ABAN,H007512766791,NaN,NaN,2015-10-24,P,L1,...,3412090,15.849852,17.985434,TEN_TO_SIXTEEN,SIXTEEN_TO_EIGHTEEN,PlacementType.NOT_IN_CARE,PlacementType.NOT_IN_CARE,PlacementCategory.FOSTER,PlacementCategory.OTHER,PlacementCategory.OTHER
75,994928,1,2005-02-01,WROM,G039321116055,NaN,NaN,2017-01-11,L,L1,...,3601572,11.942832,15.373453,TEN_TO_SIXTEEN,TEN_TO_SIXTEEN,U1,PlacementType.NOT_IN_CARE,PlacementCategory.OTHER,PlacementCategory.OTHER,PlacementCategory.FOSTER
55,994928,1,2005-02-01,WROM,G039321116055,NaN,NaN,2020-06-17,P,L1,...,7748604,15.373453,16.813602,TEN_TO_SIXTEEN,SIXTEEN_TO_EIGHTEEN,K2,R2,PlacementCategory.FOSTER,PlacementCategory.OTHER,PlacementCategory.RESIDENTIAL
56,994928,1,2005-02-01,WROM,G039321116055,NaN,NaN,2021-11-25,P,L1,...,3642986,16.813602,NaN,SIXTEEN_TO_EIGHTEEN,None,PlacementType.NOT_IN_CARE,U1,PlacementCategory.RESIDENTIAL,PlacementCategory.FOSTER,PlacementCategory.OTHER
987,998328,1,2004-03-15,AIND,F032614785936,NaN,NaN,2016-06-05,T,L1,...,7542189,12.224838,13.519877,TEN_TO_SIXTEEN,TEN_TO_SIXTEEN,PlacementType.NOT_IN_CARE,PlacementType.NOT_IN_CARE,PlacementCategory.OTHER,PlacementCategory.OTHER,PlacementCategory.OTHER

In [31]:
pop.get_daily_pops_new_way(df, ref_end, pred_end)

age_bin                    FIVE_TO_TEN                                \
placement_type PlacementCategory.OTHER PlacementCategory.RESIDENTIAL
date
2020-01-01                         0.0                           3.0
2020-01-02                         0.0                           3.0
2020-01-03                         0.0                           3.0
2020-01-04                         0.0                           3.0
2020-01-05                         0.0                           3.0
...                                ...                           ...
2021-06-27                         0.0                           0.0
2021-06-28                         0.0                           0.0
2021-06-29                         0.0                           0.0
2021-06-30                         0.0                           0.0
2021-07-01                         0.0                           0.0

age_bin                                           TEN_TO_SIXTEEN  \
placement_type PlacementCategory.FOSTER PlacementCategory.FOSTER
date
2020-01-01                         23.0                    130.0
2020-01-02                         23.0                    130.0
2020-01-03                         23.0                    130.0
2020-01-04                         23.0                    130.0
2020-01-05                         23.0                    129.0
...                                 ...                      ...
2021-06-27                          3.0                     81.0
2021-06-28                          3.0                     81.0
2021-06-29                          3.0                     82.0
2021-06-30                          3.0                     82.0
2021-07-01                          3.0                     82.0

age_bin                                        SIXTEEN_TO_EIGHTEEN  \
placement_type PlacementCategory.OTHER PlacementCategory.SUPPORTED
date
2020-01-01                        23.0                        14.0
2020-01-02                        23.0                        14.0
2020-01-03                        23.0                        14.0
2020-01-04                        23.0                        14.0
2020-01-05                        23.0                        14.0
...                                ...                         ...
2021-06-27                        10.0                        12.0
2021-06-28                        10.0                        12.0
2021-06-29                        10.0                        12.0
2021-06-30                        10.0                        12.0
2021-07-01                        10.0                        12.0

age_bin                       TEN_TO_SIXTEEN      SIXTEEN_TO_EIGHTEEN  \
placement_type PlacementCategory.RESIDENTIAL PlacementCategory.FOSTER
date
2020-01-01                              31.0                      9.0
2020-01-02                              31.0                      9.0
2020-01-03                              31.0                      9.0
2020-01-04                              31.0                      9.0
2020-01-05                              31.0                     10.0
...                                      ...                      ...
2021-06-27                              12.0                      7.0
2021-06-28                              11.0                      7.0
2021-06-29                              10.0                      7.0
2021-06-30                              10.0                      7.0
2021-07-01                              10.0                      7.0

age_bin                                                               \
placement_type PlacementCategory.RESIDENTIAL PlacementCategory.OTHER
date
2020-01-01                               1.0                     7.0
2020-01-02                               1.0                     7.0
2020-01-03                               1.0                     7.0
2020-01-04                               1.0                     7.0
2020-01-05                               1.0                     7.0
...                                      ...                     ...
2021-06-27                               0.0                     2.0
2021-06-28                               0.0                     2.0
2021-06-29                               0.0                     2.0
2021-06-30                               0.0                     2.0
2021-07-01                               0.0                     2.0

age_bin                     TEN_TO_SIXTEEN
placement_type PlacementCategory.SUPPORTED
date
2020-01-01                             0.0
2020-01-02                             0.0
2020-01-03                             0.0
2020-01-04                             0.0
2020-01-05                             0.0
...                                    ...
2021-06-27                             0.0
2021-06-28                             0.0
2021-06-29                             0.0
2021-06-30                             0.0
2021-07-01                             0.0

[548 rows x 11 columns]