In [1]:
import pandas as pd
import numpy as np
from csdmpy.data.ssda903 import SSDA903TableType
from csdmpy.datacontainer import DemandModellingDataContainer
import csdmpy_fakedata as sample
import csdmpy.timeseries as ts
import csdmpy.populations as pop
import csdmpy.constants as C
import csdmpy.transitions as trans
from csdmpy.constants import AgeBracket, PlacementCategory, PlacementType
from csdmpy.population_stats import PopulationStats

In [2]:
history_start, reference_start, reference_end, history_end, prediction_end = pd.to_datetime(
    ['2015-01-01', '2019-07-01', '2020-01-01', '2020-01-01', '2021-07-01'])

start_date, end_date = reference_start, reference_end

In [3]:
dc = DemandModellingDataContainer(sample.V1)
df = dc.get_enriched_view()
stats = PopulationStats(df)

In [4]:
stats.get_daily_pops(start_date, end_date)

age_bin                    FIVE_TO_TEN                                \
placement_type PlacementCategory.OTHER PlacementCategory.RESIDENTIAL
date
2019-07-01                         1.0                           4.0
2019-07-02                         1.0                           4.0
2019-07-03                         1.0                           4.0
2019-07-04                         1.0                           4.0
2019-07-05                         1.0                           4.0
...                                ...                           ...
2019-12-28                         0.0                           3.0
2019-12-29                         0.0                           3.0
2019-12-30                         0.0                           3.0
2019-12-31                         0.0                           3.0
2020-01-01                         0.0                           3.0

age_bin                                           TEN_TO_SIXTEEN  \
placement_type PlacementCategory.FOSTER PlacementCategory.FOSTER
date
2019-07-01                         43.0                    176.0
2019-07-02                         43.0                    175.0
2019-07-03                         43.0                    174.0
2019-07-04                         43.0                    174.0
2019-07-05                         44.0                    174.0
...                                 ...                      ...
2019-12-28                         24.0                    130.0
2019-12-29                         23.0                    131.0
2019-12-30                         23.0                    130.0
2019-12-31                         23.0                    130.0
2020-01-01                         23.0                    130.0

age_bin                                        SIXTEEN_TO_EIGHTEEN  \
placement_type PlacementCategory.OTHER PlacementCategory.SUPPORTED
date
2019-07-01                        20.0                        17.0
2019-07-02                        20.0                        17.0
2019-07-03                        20.0                        17.0
2019-07-04                        20.0                        17.0
2019-07-05                        20.0                        17.0
...                                ...                         ...
2019-12-28                        23.0                        15.0
2019-12-29                        23.0                        15.0
2019-12-30                        23.0                        14.0
2019-12-31                        23.0                        14.0
2020-01-01                        23.0                        14.0

age_bin                       TEN_TO_SIXTEEN      SIXTEEN_TO_EIGHTEEN  \
placement_type PlacementCategory.RESIDENTIAL PlacementCategory.FOSTER
date
2019-07-01                              30.0                      8.0
2019-07-02                              31.0                      8.0
2019-07-03                              31.0                      8.0
2019-07-04                              31.0                      8.0
2019-07-05                              31.0                      8.0
...                                      ...                      ...
2019-12-28                              32.0                      8.0
2019-12-29                              32.0                      8.0
2019-12-30                              32.0                      9.0
2019-12-31                              32.0                      9.0
2020-01-01                              31.0                      9.0

age_bin                                                               \
placement_type PlacementCategory.RESIDENTIAL PlacementCategory.OTHER
date
2019-07-01                               0.0                     8.0
2019-07-02                               0.0                     8.0
2019-07-03                               0.0                     8.0
2019-07-04                               0.0                     8.0
2019-07-05                               0.0                     8.0
...                                      ...                     ...
2019-12-28                               0.0                     7.0
2019-12-29                               0.0                     7.0
2019-12-30                               0.0                     7.0
2019-12-31                               0.0                     7.0
2020-01-01                               1.0                     7.0

age_bin                     TEN_TO_SIXTEEN
placement_type PlacementCategory.SUPPORTED
date
2019-07-01                             0.0
2019-07-02                             0.0
2019-07-03                             0.0
2019-07-04                             0.0
2019-07-05                             0.0
...                                    ...
2019-12-28                             0.0
2019-12-29                             0.0
2019-12-30                             0.0
2019-12-31                             0.0
2020-01-01                             0.0

[185 rows x 11 columns]

In [5]:
stats.get_transitions(start_date, end_date)

                                                                                 transition_count  \
age_bin             placement_type                placement_type_after
FIVE_TO_TEN         PlacementCategory.FOSTER      PlacementCategory.NOT_IN_CARE                 1
TEN_TO_SIXTEEN      PlacementCategory.FOSTER      PlacementCategory.RESIDENTIAL                12
                                                  PlacementCategory.SUPPORTED                   1
                                                  PlacementCategory.OTHER                      10
                                                  PlacementCategory.NOT_IN_CARE                36
                    PlacementCategory.RESIDENTIAL PlacementCategory.FOSTER                      5
                                                  PlacementCategory.NOT_IN_CARE                 4
                    PlacementCategory.OTHER       PlacementCategory.FOSTER                      1
                                                  PlacementCategory.RESIDENTIAL                 1
                                                  PlacementCategory.NOT_IN_CARE                 5
SIXTEEN_TO_EIGHTEEN PlacementCategory.FOSTER      PlacementCategory.RESIDENTIAL                 1
                                                  PlacementCategory.SUPPORTED                   5
                                                  PlacementCategory.OTHER                       2
                                                  PlacementCategory.NOT_IN_CARE                10
                    PlacementCategory.RESIDENTIAL PlacementCategory.SUPPORTED                   1
                                                  PlacementCategory.NOT_IN_CARE                 3
                    PlacementCategory.SUPPORTED   PlacementCategory.FOSTER                      2
                                                  PlacementCategory.OTHER                       1
                                                  PlacementCategory.NOT_IN_CARE                 8
                    PlacementCategory.OTHER       PlacementCategory.SUPPORTED                   1
                                                  PlacementCategory.NOT_IN_CARE                 4

                                                                                 period_duration  \
age_bin             placement_type                placement_type_after
FIVE_TO_TEN         PlacementCategory.FOSTER      PlacementCategory.NOT_IN_CARE              184
TEN_TO_SIXTEEN      PlacementCategory.FOSTER      PlacementCategory.RESIDENTIAL              184
                                                  PlacementCategory.SUPPORTED                184
                                                  PlacementCategory.OTHER                    184
                                                  PlacementCategory.NOT_IN_CARE              184
                    PlacementCategory.RESIDENTIAL PlacementCategory.FOSTER                   184
                                                  PlacementCategory.NOT_IN_CARE              184
                    PlacementCategory.OTHER       PlacementCategory.FOSTER                   184
                                                  PlacementCategory.RESIDENTIAL              184
                                                  PlacementCategory.NOT_IN_CARE              184
SIXTEEN_TO_EIGHTEEN PlacementCategory.FOSTER      PlacementCategory.RESIDENTIAL              184
                                                  PlacementCategory.SUPPORTED                184
                                                  PlacementCategory.OTHER                    184
                                                  PlacementCategory.NOT_IN_CARE              184
                    PlacementCategory.RESIDENTIAL PlacementCategory.SUPPORTED                184
                                                  PlacementCategory.NOT_IN_CARE              184
                    PlacementCategory.SUPPORTED   PlacementCategory.FOSTER                   184
                                                  PlacementCategory.OTHER                    184
                                                  PlacementCategory.NOT_IN_CARE              184
                    PlacementCategory.OTHER       PlacementCategory.SUPPORTED                184
                                                  PlacementCategory.NOT_IN_CARE              184

                                                                                 transition_probability
age_bin             placement_type                placement_type_after
FIVE_TO_TEN         PlacementCategory.FOSTER      PlacementCategory.NOT_IN_CARE                0.005435
TEN_TO_SIXTEEN      PlacementCategory.FOSTER      PlacementCategory.RESIDENTIAL                0.065217
                                                  PlacementCategory.SUPPORTED                  0.005435
                                                  PlacementCategory.OTHER                      0.054348
                                                  PlacementCategory.NOT_IN_CARE                0.195652
                    PlacementCategory.RESIDENTIAL PlacementCategory.FOSTER                     0.027174
                                                  PlacementCategory.NOT_IN_CARE                0.021739
                    PlacementCategory.OTHER       PlacementCategory.FOSTER                     0.005435
                                                  PlacementCategory.RESIDENTIAL                0.005435
                                                  PlacementCategory.NOT_IN_CARE                0.027174
SIXTEEN_TO_EIGHTEEN PlacementCategory.FOSTER      PlacementCategory.RESIDENTIAL                0.005435
                                                  PlacementCategory.SUPPORTED                  0.027174
                                                  PlacementCategory.OTHER                      0.010870
                                                  PlacementCategory.NOT_IN_CARE                0.054348
                    PlacementCategory.RESIDENTIAL PlacementCategory.SUPPORTED                  0.005435
                                                  PlacementCategory.NOT_IN_CARE                0.016304
                    PlacementCategory.SUPPORTED   PlacementCategory.FOSTER                     0.010870
                                                  PlacementCategory.OTHER                      0.005435
                                                  PlacementCategory.NOT_IN_CARE                0.043478
                    PlacementCategory.OTHER       PlacementCategory.SUPPORTED                  0.005435
                                                  PlacementCategory.NOT_IN_CARE                0.021739

In [6]:
g = stats.get_daily_entrants(start_date, end_date)
g

,,entrants,period_duration,daily_entry_probability
age_bin,placement_type,,,
FIVE_TO_TEN,PlacementCategory.FOSTER,1,184,0.005435
TEN_TO_SIXTEEN,PlacementCategory.FOSTER,4,184,0.021739

In [7]:
start_date, end_date

(Timestamp('2019-07-01 00:00:00'), Timestamp('2020-01-01 00:00:00'))

In [8]:
beginnings = stats.df[['DECOM', 'age_bin', 'placement_type']].copy(deep=False)
beginnings['state'] = list(zip(df.age_bin, df.placement_type))
beginnings['delta'] = 1
beginnings = beginnings[['DECOM', 'state', 'delta']]
beginnings.columns = ['date', 'state', 'delta']
beginnings

          date                                              state  delta
69  2016-09-01  (SIXTEEN_TO_EIGHTEEN, PlacementCategory.SUPPOR...      1
360 2016-11-19    (SIXTEEN_TO_EIGHTEEN, PlacementCategory.FOSTER)      1
361 2018-10-01    (SIXTEEN_TO_EIGHTEEN, PlacementCategory.FOSTER)      1
507 2017-03-09         (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)      1
508 2017-09-14         (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)      1
..         ...                                                ...    ...
820 2015-10-24         (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)      1
75  2017-01-11          (TEN_TO_SIXTEEN, PlacementCategory.OTHER)      1
55  2020-06-17         (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)      1
56  2021-11-25  (SIXTEEN_TO_EIGHTEEN, PlacementCategory.RESIDE...      1
987 2016-06-05          (TEN_TO_SIXTEEN, PlacementCategory.OTHER)      1

[2827 rows x 3 columns]

In [9]:
endings = stats.df[['DEC', 'age_bin', 'placement_type']].copy(deep=False)
endings['state'] = list(zip(df.age_bin, df.placement_type))
endings['delta'] = -1
endings = endings[['DEC', 'state', 'delta']]
endings.columns = ['date', 'state', 'delta']
endings

          date                                              state  delta
69  2017-10-13  (SIXTEEN_TO_EIGHTEEN, PlacementCategory.SUPPOR...     -1
360 2018-10-01    (SIXTEEN_TO_EIGHTEEN, PlacementCategory.FOSTER)     -1
361 2018-11-08    (SIXTEEN_TO_EIGHTEEN, PlacementCategory.FOSTER)     -1
507 2017-09-14         (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)     -1
508 2018-02-19         (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)     -1
..         ...                                                ...    ...
820 2017-12-12         (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)     -1
75  2020-06-17          (TEN_TO_SIXTEEN, PlacementCategory.OTHER)     -1
55  2021-11-25         (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)     -1
56         NaT  (SIXTEEN_TO_EIGHTEEN, PlacementCategory.RESIDE...     -1
987 2017-09-21          (TEN_TO_SIXTEEN, PlacementCategory.OTHER)     -1

[2827 rows x 3 columns]

In [10]:
transitions = pd.concat([beginnings, endings]).groupby(['date', 'state']).sum()
transitions

                                                         delta
date       state
2013-08-27 (FIVE_TO_TEN, PlacementCategory.OTHER)            1
2013-10-14 (FIVE_TO_TEN, PlacementCategory.RESIDENTIAL)      1
2013-11-02 (FIVE_TO_TEN, PlacementCategory.FOSTER)           1
2013-12-22 (FIVE_TO_TEN, PlacementCategory.FOSTER)           1
2014-02-26 (FIVE_TO_TEN, PlacementCategory.RESIDENTIAL)      1
...                                                        ...
2022-03-17 (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)        0
2022-03-21 (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)       -1
2022-03-25 (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)        1
           (TEN_TO_SIXTEEN, PlacementCategory.OTHER)        -1
2022-03-27 (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)        0

[3342 rows x 1 columns]

In [11]:
stock = transitions.unstack('state').cumsum().resample("D").first().fillna(method="ffill").fillna(0).stack()
stock

                                                               delta
date       state
2013-08-27 (FIVE_TO_TEN, PlacementCategory.FOSTER)               0.0
           (FIVE_TO_TEN, PlacementCategory.RESIDENTIAL)          0.0
           (FIVE_TO_TEN, PlacementCategory.OTHER)                1.0
           (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)            0.0
           (TEN_TO_SIXTEEN, PlacementCategory.RESIDENTIAL)       0.0
...                                                              ...
2022-03-27 (TEN_TO_SIXTEEN, PlacementCategory.OTHER)             8.0
           (SIXTEEN_TO_EIGHTEEN, PlacementCategory.FOSTER)       5.0
           (SIXTEEN_TO_EIGHTEEN, PlacementCategory.RESIDEN...    2.0
           (SIXTEEN_TO_EIGHTEEN, PlacementCategory.SUPPORTED)    9.0
           (SIXTEEN_TO_EIGHTEEN, PlacementCategory.OTHER)        2.0

[34485 rows x 1 columns]

In [12]:
pd.concat([stock, transitions], axis=1).truncate(before=start_date, after=end_date).fillna(0)

                                                               delta  delta
date       state
2019-07-01 (FIVE_TO_TEN, PlacementCategory.FOSTER)              43.0   -1.0
           (FIVE_TO_TEN, PlacementCategory.RESIDENTIAL)          4.0    0.0
           (FIVE_TO_TEN, PlacementCategory.OTHER)                1.0    0.0
           (TEN_TO_SIXTEEN, PlacementCategory.FOSTER)          176.0    1.0
           (TEN_TO_SIXTEEN, PlacementCategory.RESIDENTIAL)      30.0    0.0
...                                                              ...    ...
2020-01-01 (TEN_TO_SIXTEEN, PlacementCategory.OTHER)            23.0    0.0
           (SIXTEEN_TO_EIGHTEEN, PlacementCategory.FOSTER)       9.0    0.0
           (SIXTEEN_TO_EIGHTEEN, PlacementCategory.RESIDEN...    1.0    1.0
           (SIXTEEN_TO_EIGHTEEN, PlacementCategory.SUPPORTED)   14.0    0.0
           (SIXTEEN_TO_EIGHTEEN, PlacementCategory.OTHER)        7.0    0.0

[2035 rows x 2 columns]

In [13]:
stats.deltas

,date,state,delta,state_after
69,2016-09-01,"(SIXTEEN_TO_EIGHTEEN, PlacementCategory.SUPPOR...",1,NaN
360,2016-11-19,"(SIXTEEN_TO_EIGHTEEN, PlacementCategory.FOSTER)",1,NaN
361,2018-10-01,"(SIXTEEN_TO_EIGHTEEN, PlacementCategory.FOSTER)",1,NaN
507,2017-03-09,"(TEN_TO_SIXTEEN, PlacementCategory.FOSTER)",1,NaN
508,2017-09-14,"(TEN_TO_SIXTEEN, PlacementCategory.FOSTER)",1,NaN
...,...,...,...,...
820,2017-12-12,"(TEN_TO_SIXTEEN, PlacementCategory.FOSTER)",-1,"(TEN_TO_SIXTEEN, PlacementCategory.NOT_IN_CARE)"
75,2020-06-17,"(TEN_TO_SIXTEEN, PlacementCategory.OTHER)",-1,"(TEN_TO_SIXTEEN, PlacementCategory.FOSTER)"
55,2021-11-25,"(TEN_TO_SIXTEEN, PlacementCategory.FOSTER)",-1,"(TEN_TO_SIXTEEN, PlacementCategory.RESIDENTIAL)"
56,NaT,"(SIXTEEN_TO_EIGHTEEN, PlacementCategory.RESIDE...",-1,"(SIXTEEN_TO_EIGHTEEN, PlacementCategory.NOT_IN..."
987,2017-09-21,"(TEN_TO_SIXTEEN, PlacementCategory.OTHER)",-1,"(TEN_TO_SIXTEEN, PlacementCategory.NOT_IN_CARE)"

In [14]:
stats.stock

age_bin                    FIVE_TO_TEN                                \
placement_type PlacementCategory.OTHER PlacementCategory.RESIDENTIAL
date
2013-08-27                         1.0                           0.0
2013-08-28                         1.0                           0.0
2013-08-29                         1.0                           0.0
2013-08-30                         1.0                           0.0
2013-08-31                         1.0                           0.0
...                                ...                           ...
2022-03-23                         0.0                           0.0
2022-03-24                         0.0                           0.0
2022-03-25                         0.0                           0.0
2022-03-26                         0.0                           0.0
2022-03-27                         0.0                           0.0

age_bin                                           TEN_TO_SIXTEEN  \
placement_type PlacementCategory.FOSTER PlacementCategory.FOSTER
date
2013-08-27                          0.0                      0.0
2013-08-28                          0.0                      0.0
2013-08-29                          0.0                      0.0
2013-08-30                          0.0                      0.0
2013-08-31                          0.0                      0.0
...                                 ...                      ...
2022-03-23                          0.0                     49.0
2022-03-24                          0.0                     49.0
2022-03-25                          0.0                     50.0
2022-03-26                          0.0                     50.0
2022-03-27                          0.0                     50.0

age_bin                                        SIXTEEN_TO_EIGHTEEN  \
placement_type PlacementCategory.OTHER PlacementCategory.SUPPORTED
date
2013-08-27                         0.0                         0.0
2013-08-28                         0.0                         0.0
2013-08-29                         0.0                         0.0
2013-08-30                         0.0                         0.0
2013-08-31                         0.0                         0.0
...                                ...                         ...
2022-03-23                         9.0                         9.0
2022-03-24                         9.0                         9.0
2022-03-25                         8.0                         9.0
2022-03-26                         8.0                         9.0
2022-03-27                         8.0                         9.0

age_bin                       TEN_TO_SIXTEEN      SIXTEEN_TO_EIGHTEEN  \
placement_type PlacementCategory.RESIDENTIAL PlacementCategory.FOSTER
date
2013-08-27                               0.0                      0.0
2013-08-28                               0.0                      0.0
2013-08-29                               0.0                      0.0
2013-08-30                               0.0                      0.0
2013-08-31                               0.0                      0.0
...                                      ...                      ...
2022-03-23                              10.0                      5.0
2022-03-24                              10.0                      5.0
2022-03-25                              10.0                      5.0
2022-03-26                              10.0                      5.0
2022-03-27                              10.0                      5.0

age_bin                                                               \
placement_type PlacementCategory.RESIDENTIAL PlacementCategory.OTHER
date
2013-08-27                               0.0                     0.0
2013-08-28                               0.0                     0.0
2013-08-29                               0.0                     0.0
2013-08-30                               0.0                     0.0
2013-08-31                               0.0                     0.0
...                                      ...                     ...
2022-03-23                               2.0                     2.0
2022-03-24                               2.0                     2.0
2022-03-25                               2.0                     2.0
2022-03-26                               2.0                     2.0
2022-03-27                               2.0                     2.0

age_bin                     TEN_TO_SIXTEEN
placement_type PlacementCategory.SUPPORTED
date
2013-08-27                             0.0
2013-08-28                             0.0
2013-08-29                             0.0
2013-08-30                             0.0
2013-08-31                             0.0
...                                    ...
2022-03-23                             0.0
2022-03-24                             0.0
2022-03-25                             0.0
2022-03-26                             0.0
2022-03-27                             0.0

[3135 rows x 11 columns]

In [15]:
wide = stats.transitions.unstack('state_after')
wide.columns = wide.columns.get_level_values(1)
wide['total'] = wide.sum(axis=1)
wide

KeyError: 'Requested level (state_after) does not match index name (DEC)'

In [ ]:
counts = stats.stock
counts

In [ ]:
merged = wide.merge(counts, left_index=True, right_index=True)
merged['stock'] = merged.stock + merged.total
del merged['total']
merged.columns.name='state_after'
merged

In [ ]:
wide.div(counts.stock, axis=1)

In [ ]:
transitions = (stats.df
               .groupby(['placement_type', 'placement_type_after', 'age_bin', 'DEC'])
               .size()
               .unstack(level=['age_bin', 'placement_type', 'placement_type_after'])
               .fillna(0)
               .asfreq('D', fill_value=0)
              )
transitions

In [ ]:
stats.stock

In [ ]:
stats.transitions

In [ ]:
stats.transitions.truncate(before=start_date, after=end_date)

In [ ]:
popal, transal = stats.stock.align(stats.transitions)
transal

In [ ]:
stats.transition_rates(start_date, end_date)

In [ ]:
rates = stats.transition_rates(start_date, end_date)
rates = pd.DataFrame(rates)
rates

In [ ]:
rates[rates.index.isin(self_transitions)]

In [ ]:
valid_transitions = []
for age_bin in AgeBracket:
    for pt1 in age_bin.placement_categories:
        for pt2 in age_bin.placement_categories:
            valid_transitions.append((age_bin, pt1, pt2))

In [ ]:
actual_transitions = [t for t in valid_transitions if t[1] != t[2]]
self_transitions = [t for t in valid_transitions if t[1] == t[2]]

            
existing_transitions = [t for t in actual_transitions if t in rates.index]

valid_rates = rates.loc[existing_transitions]
valid_rates

In [ ]:
s = stats.raw_transition_rates(start_date, end_date)
s = s.index
for x in s:
    print([type(t) for t in x])

In [27]:
pd.set_option('display.max_rows', 100)
stats.raw_transition_rates(start_date, end_date)

TypeError: unhashable type: 'PlacementCategory'

In [28]:
stats.summed_rates(start_date, end_date)

                                                   transition_rate
age_bin             placement_type
BIRTH_TO_ONE        PlacementCategory.FOSTER                   0.0
                    PlacementCategory.OTHER                    0.0
ONE_TO_FIVE         PlacementCategory.FOSTER                   0.0
                    PlacementCategory.OTHER                    0.0
FIVE_TO_TEN         PlacementCategory.FOSTER                   0.0
                    PlacementCategory.RESIDENTIAL              0.0
                    PlacementCategory.OTHER                    0.0
TEN_TO_SIXTEEN      PlacementCategory.FOSTER                   0.0
                    PlacementCategory.RESIDENTIAL              0.0
                    PlacementCategory.OTHER                    0.0
SIXTEEN_TO_EIGHTEEN PlacementCategory.FOSTER                   0.0
                    PlacementCategory.RESIDENTIAL              0.0
                    PlacementCategory.SUPPORTED                0.0
                    PlacementCategory.OTHER                    0.0

In [ ]:
pd.Series(0, index=pd.MultiIndex.from_tuples(valid_transitions, names=['age,'b','c']), columns=['a'])

In [ ]:
self_rates = 1 - valid_rates.reset_index().groupby(['age_bin', 'placement_type']).sum()
self_rates = self_rates.reset_index()
self_rates['placement_type_after'] = self_rates.placement_type
self_rates = self_rates.set_index(['age_bin', 'placement_type', 'placement_type_after'])
self_rates = self_rates.loc[:,0]
self_rates

In [ ]:
combined = pd.concat([valid_rates, self_rates, pd.Series(1, index=self_transitions), pd.Series(0, index=valid_transitions)], axis=1)
combined.columns=['rates','own', 'ones', 'zeros']

combined['own'] = np.where(combined.own.isnull(), combined.ones, combined.own)
combined['own'] = np.where(combined.own.isnull(), combined.rates, combined.own)
combined['own'] = np.where(combined.own.isnull(), combined.zeros, combined.own)

combined

In [ ]:
from csdmpy.population_stats import *

In [ ]:
zeros = pd.DataFrame(
            0,
            index=pd.MultiIndex.from_tuples(transitions_all(exclude_self=False), names=['age_bin', 'placement_type', 'placement_type_after']),
            columns=['zeros']
        )
zeros

In [ ]:
ones = pd.DataFrame(
            1,
            index=pd.MultiIndex.from_tuples(transitions_all(exclude_self=True), names=['age_bin', 'placement_type', 'placement_type_after']),
            columns=['ones']
        )
ones

In [ ]:
zeros.merge(ones, left_index = True, right_index=True, how="outer")

In [ ]:
PlacementCategory.FOSTER.name