# Data Analysis

Having used the [Data Container](./data-container.ipynb) to create the custom view we require, we can now calculates stats relating to the data.

The stats broadly divide into two categories: whole data stats, and time-windowed stats. For the former, these can simply be accessed as properties on the data container:

In [1]:
import pandas as pd
import numpy as np
from cs_demand_model import Config, DemandModellingDataContainer, PopulationStats, fs_datastore

config = Config()
datastore = fs_datastore("sample://v1.zip")
dc = DemandModellingDataContainer(datastore, config)

stats = PopulationStats(dc.enriched_view, config)

# We can still get the source data
stats.df.head(1)

Failed to read file DataFile(name='2017/placed_for_adoption.csv', metadata=Metadata(name='placed_for_adoption.csv', size=1, year=2017, table=None)): File is empty
Failed to read file DataFile(name='2017/ad1.csv', metadata=Metadata(name='ad1.csv', size=1, year=2017, table=None)): File is empty
Failed to read file DataFile(name='2019/placed_for_adoption.csv', metadata=Metadata(name='placed_for_adoption.csv', size=1, year=2019, table=None)): File is empty
Failed to read file DataFile(name='2019/ad1.csv', metadata=Metadata(name='ad1.csv', size=1, year=2019, table=None)): File is empty
Failed to read file DataFile(name='2021/placed_for_adoption.csv', metadata=Metadata(name='placed_for_adoption.csv', size=1, year=2021, table=None)): File is empty
Failed to read file DataFile(name='2021/ad1.csv', metadata=Metadata(name='ad1.csv', size=1, year=2021, table=None)): File is empty
Failed to read file DataFile(name='2020/placed_for_adoption.csv', metadata=Metadata(name='placed_for_adoption.csv', size=1, year=2020, table=None)): File is empty
Failed to read file DataFile(name='2020/ad1.csv', metadata=Metadata(name='ad1.csv', size=1, year=2020, table=None)): File is empty
Failed to read file DataFile(name='2018/placed_for_adoption.csv', metadata=Metadata(name='placed_for_adoption.csv', size=1, year=2018, table=None)): File is empty
Failed to read file DataFile(name='2018/ad1.csv', metadata=Metadata(name='ad1.csv', size=1, year=2018, table=None)): File is empty

Created datastore with [DataFile(name='2017/header.csv', metadata=Metadata(name='header.csv', size=33527, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>)), DataFile(name='2017/episodes.csv', metadata=Metadata(name='episodes.csv', size=103508, year=2018, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>)), DataFile(name='2019/header.csv', metadata=Metadata(name='header.csv', size=14844, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>)), DataFile(name='2019/episodes.csv', metadata=Metadata(name='episodes.csv', size=46259, year=2020, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>)), DataFile(name='2021/header.csv', metadata=Metadata(name='header.csv', size=5928, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>)), DataFile(name='2021/episodes.csv', metadata=Metadata(name='episodes.csv', size=18127, year=2022, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>)), DataFile(name='2020/header.csv', metadata=Metadata(name='header.csv', size=9284, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>)), DataFile(name='2020/episodes.csv', metadata=Metadata(name='episodes.csv', size=28729, year=2021, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>)), DataFile(name='2018/header.csv', metadata=Metadata(name='header.csv', size=23426, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>)), DataFile(name='2018/episodes.csv', metadata=Metadata(name='episodes.csv', size=69446, year=2019, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))]
INFO DataFile(name='2017/header.csv', metadata=Metadata(name='header.csv', size=33527, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2017/episodes.csv', metadata=Metadata(name='episodes.csv', size=103508, year=2018, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2019/header.csv', metadata=Metadata(name='header.csv', size=14844, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2019/episodes.csv', metadata=Metadata(name='episodes.csv', size=46259, year=2020, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2021/header.csv', metadata=Metadata(name='header.csv', size=5928, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2021/episodes.csv', metadata=Metadata(name='episodes.csv', size=18127, year=2022, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2020/header.csv', metadata=Metadata(name='header.csv', size=9284, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2020/episodes.csv', metadata=Metadata(name='episodes.csv', size=28729, year=2021, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2018/header.csv', metadata=Metadata(name='header.csv', size=23426, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2018/episodes.csv', metadata=Metadata(name='episodes.csv', size=69446, year=2019, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2017/header.csv', metadata=Metadata(name='header.csv', size=33527, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2017/episodes.csv', metadata=Metadata(name='episodes.csv', size=103508, year=2018, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2019/header.csv', metadata=Metadata(name='header.csv', size=14844, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2019/episodes.csv', metadata=Metadata(name='episodes.csv', size=46259, year=2020, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2021/header.csv', metadata=Metadata(name='header.csv', size=5928, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2021/episodes.csv', metadata=Metadata(name='episodes.csv', size=18127, year=2022, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2020/header.csv', metadata=Metadata(name='header.csv', size=9284, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2020/episodes.csv', metadata=Metadata(name='episodes.csv', size=28729, year=2021, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2018/header.csv', metadata=Metadata(name='header.csv', size=23426, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2018/episodes.csv', metadata=Metadata(name='episodes.csv', size=69446, year=2019, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2017/header.csv', metadata=Metadata(name='header.csv', size=33527, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2017/episodes.csv', metadata=Metadata(name='episodes.csv', size=103508, year=2018, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2019/header.csv', metadata=Metadata(name='header.csv', size=14844, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2019/episodes.csv', metadata=Metadata(name='episodes.csv', size=46259, year=2020, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2021/header.csv', metadata=Metadata(name='header.csv', size=5928, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2021/episodes.csv', metadata=Metadata(name='episodes.csv', size=18127, year=2022, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2020/header.csv', metadata=Metadata(name='header.csv', size=9284, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2020/episodes.csv', metadata=Metadata(name='episodes.csv', size=28729, year=2021, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2018/header.csv', metadata=Metadata(name='header.csv', size=23426, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2018/episodes.csv', metadata=Metadata(name='episodes.csv', size=69446, year=2019, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2017/header.csv', metadata=Metadata(name='header.csv', size=33527, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2017/episodes.csv', metadata=Metadata(name='episodes.csv', size=103508, year=2018, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2019/header.csv', metadata=Metadata(name='header.csv', size=14844, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2019/episodes.csv', metadata=Metadata(name='episodes.csv', size=46259, year=2020, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2021/header.csv', metadata=Metadata(name='header.csv', size=5928, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2021/episodes.csv', metadata=Metadata(name='episodes.csv', size=18127, year=2022, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2020/header.csv', metadata=Metadata(name='header.csv', size=9284, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2020/episodes.csv', metadata=Metadata(name='episodes.csv', size=28729, year=2021, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2018/header.csv', metadata=Metadata(name='header.csv', size=23426, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2018/episodes.csv', metadata=Metadata(name='episodes.csv', size=69446, year=2019, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2017/header.csv', metadata=Metadata(name='header.csv', size=33527, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2017/episodes.csv', metadata=Metadata(name='episodes.csv', size=103508, year=2018, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2019/header.csv', metadata=Metadata(name='header.csv', size=14844, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2019/episodes.csv', metadata=Metadata(name='episodes.csv', size=46259, year=2020, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2021/header.csv', metadata=Metadata(name='header.csv', size=5928, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2021/episodes.csv', metadata=Metadata(name='episodes.csv', size=18127, year=2022, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2020/header.csv', metadata=Metadata(name='header.csv', size=9284, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2020/episodes.csv', metadata=Metadata(name='episodes.csv', size=28729, year=2021, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))
INFO DataFile(name='2018/header.csv', metadata=Metadata(name='header.csv', size=23426, year=None, table=<SSDA903TableType.HEADER: <cs_demand_model.data.ssda903.Header object at 0x110073970>>))
INFO DataFile(name='2018/episodes.csv', metadata=Metadata(name='episodes.csv', size=69446, year=2019, table=<SSDA903TableType.EPISODES: <cs_demand_model.data.ssda903.Episodes object at 0x110073a00>>))

,CHILD,SEX,DOB,ETHNIC,UPN,MOTHER,MC_DOB,DECOM,RNE,LS,...,HOME_POST,PL_POST,URN,age,end_age,age_bin,end_age_bin,placement_type,placement_type_before,placement_type_after
69,91,2,1999-10-19,MOTH,W064737016429,NaN,NaN,2016-09-01,P,J2,...,W11 2QK,Y7 6AL,2141660,16.871098,17.985434,16 to 18+,16 to 18+,Supported,Not in care,Not in care

## Stock

An obvious place to start is how many children are in care on any date. As this is a [stock and flow](https://en.wikipedia.org/wiki/Stock_and_flow) model, we refer to this as stock:

In [2]:
stats.stock

age_bin        Birth to 1          1 to 5         5 to 10                    \
placement_type  Fostering Other Fostering Other Fostering Residential Other
date
2013-08-27            0.0   0.0       0.0   0.0       0.0         0.0   1.0
2013-08-28            0.0   0.0       0.0   0.0       0.0         0.0   1.0
2013-08-29            0.0   0.0       0.0   0.0       0.0         0.0   1.0
2013-08-30            0.0   0.0       0.0   0.0       0.0         0.0   1.0
2013-08-31            0.0   0.0       0.0   0.0       0.0         0.0   1.0
...                   ...   ...       ...   ...       ...         ...   ...
2022-03-23            0.0   0.0       0.0   0.0       0.0         0.0   0.0
2022-03-24            0.0   0.0       0.0   0.0       0.0         0.0   0.0
2022-03-25            0.0   0.0       0.0   0.0       0.0         0.0   0.0
2022-03-26            0.0   0.0       0.0   0.0       0.0         0.0   0.0
2022-03-27            0.0   0.0       0.0   0.0       0.0         0.0   0.0

age_bin         10 to 16                   16 to 18+                        \
placement_type Fostering Residential Other Fostering Residential Supported
date
2013-08-27           0.0         0.0   0.0       0.0         0.0       0.0
2013-08-28           0.0         0.0   0.0       0.0         0.0       0.0
2013-08-29           0.0         0.0   0.0       0.0         0.0       0.0
2013-08-30           0.0         0.0   0.0       0.0         0.0       0.0
2013-08-31           0.0         0.0   0.0       0.0         0.0       0.0
...                  ...         ...   ...       ...         ...       ...
2022-03-23          49.0        10.0   9.0       5.0         2.0       9.0
2022-03-24          49.0        10.0   9.0       5.0         2.0       9.0
2022-03-25          50.0        10.0   8.0       5.0         2.0       9.0
2022-03-26          50.0        10.0   8.0       5.0         2.0       9.0
2022-03-27          50.0        10.0   8.0       5.0         2.0       9.0

age_bin
placement_type Other
date
2013-08-27       0.0
2013-08-28       0.0
2013-08-29       0.0
2013-08-30       0.0
2013-08-31       0.0
...              ...
2022-03-23       2.0
2022-03-24       2.0
2022-03-25       2.0
2022-03-26       2.0
2022-03-27       2.0

[3135 rows x 14 columns]

This model is derived  by counting the starts and ends of episodes:

In [3]:
endings = stats.df.groupby(["DEC", "placement_type", "age_bin"]).size()
endings.name = "nof_decs"
endings

DEC         placement_type  age_bin
2016-08-15  Other           5 to 10     1
2016-08-22  Fostering       5 to 10     1
2016-12-02  Residential     10 to 16    1
2016-12-07  Fostering       5 to 10     1
2016-12-29  Fostering       5 to 10     1
                                       ..
2022-03-13  Fostering       10 to 16    1
2022-03-17  Fostering       10 to 16    1
2022-03-21  Fostering       10 to 16    1
2022-03-25  Other           10 to 16    1
2022-03-27  Fostering       10 to 16    1
Name: nof_decs, Length: 2158, dtype: int64

In [4]:
beginnings = stats.df.groupby(["DECOM", "placement_type", "age_bin"]).size()
beginnings.name = "nof_decoms"
beginnings

DECOM       placement_type  age_bin
2013-08-27  Other           5 to 10     1
2013-10-14  Residential     5 to 10     1
2013-11-02  Fostering       5 to 10     1
2013-12-22  Fostering       5 to 10     1
2014-02-26  Residential     5 to 10     1
                                       ..
2022-03-10  Fostering       10 to 16    1
2022-03-13  Fostering       10 to 16    1
2022-03-17  Fostering       10 to 16    1
2022-03-25  Fostering       10 to 16    1
2022-03-27  Fostering       10 to 16    1
Name: nof_decoms, Length: 2305, dtype: int64

We then combine this to create a few of starts and ends per day

In [5]:
endings.index.names = ["date", "placement_type", "age_bin"]
beginnings.index.names = ["date", "placement_type", "age_bin"]

pops = pd.merge(
    left=beginnings,
    right=endings,
    left_index=True,
    right_index=True,
    how="outer",
)
pops = pops.fillna(0).sort_values("date")
pops

                                    nof_decoms  nof_decs
date       placement_type age_bin
2013-08-27 Other          5 to 10          1.0       0.0
2013-10-14 Residential    5 to 10          1.0       0.0
2013-11-02 Fostering      5 to 10          1.0       0.0
2013-12-22 Fostering      5 to 10          1.0       0.0
2014-02-26 Residential    5 to 10          1.0       0.0
...                                        ...       ...
2022-03-17 Fostering      10 to 16         1.0       1.0
2022-03-21 Fostering      10 to 16         0.0       1.0
2022-03-25 Other          10 to 16         0.0       1.0
           Fostering      10 to 16         1.0       0.0
2022-03-27 Fostering      10 to 16         1.0       1.0

[3342 rows x 2 columns]

We can now calculate the 'delta' of endings - beginnings and sum these to get a cumulative sum

In [6]:
pops = (
    (pops["nof_decoms"] - pops["nof_decs"])
    .groupby(["placement_type", "age_bin"])
    .cumsum()
)
pops

date        placement_type  age_bin
2013-08-27  Other           5 to 10      1.0
2013-10-14  Residential     5 to 10      1.0
2013-11-02  Fostering       5 to 10      1.0
2013-12-22  Fostering       5 to 10      2.0
2014-02-26  Residential     5 to 10      2.0
                                        ...
2022-03-17  Fostering       10 to 16    50.0
2022-03-21  Fostering       10 to 16    49.0
2022-03-25  Other           10 to 16     8.0
            Fostering       10 to 16    50.0
2022-03-27  Fostering       10 to 16    50.0
Length: 3342, dtype: float64

We want a day-by-day count, so we resample by day, and forward fill the missing values:

In [7]:
pops = (
    pops.unstack(["age_bin", "placement_type"])
    .resample("D")
    .first()
    .fillna(method="ffill")
)
pops

age_bin        5 to 10                        10 to 16       16 to 18+  \
placement_type   Other Residential Fostering Fostering Other Supported
date
2013-08-27         1.0         NaN       NaN       NaN   NaN       NaN
2013-08-28         1.0         NaN       NaN       NaN   NaN       NaN
2013-08-29         1.0         NaN       NaN       NaN   NaN       NaN
2013-08-30         1.0         NaN       NaN       NaN   NaN       NaN
2013-08-31         1.0         NaN       NaN       NaN   NaN       NaN
...                ...         ...       ...       ...   ...       ...
2022-03-23         0.0         0.0       0.0      49.0   9.0       9.0
2022-03-24         0.0         0.0       0.0      49.0   9.0       9.0
2022-03-25         0.0         0.0       0.0      50.0   8.0       9.0
2022-03-26         0.0         0.0       0.0      50.0   8.0       9.0
2022-03-27         0.0         0.0       0.0      50.0   8.0       9.0

age_bin           10 to 16 16 to 18+                    10 to 16
placement_type Residential Fostering Residential Other Supported
date
2013-08-27             NaN       NaN         NaN   NaN       NaN
2013-08-28             NaN       NaN         NaN   NaN       NaN
2013-08-29             NaN       NaN         NaN   NaN       NaN
2013-08-30             NaN       NaN         NaN   NaN       NaN
2013-08-31             NaN       NaN         NaN   NaN       NaN
...                    ...       ...         ...   ...       ...
2022-03-23            10.0       5.0         2.0   2.0       0.0
2022-03-24            10.0       5.0         2.0   2.0       0.0
2022-03-25            10.0       5.0         2.0   2.0       0.0
2022-03-26            10.0       5.0         2.0   2.0       0.0
2022-03-27            10.0       5.0         2.0   2.0       0.0

[3135 rows x 11 columns]

Finally, we add any missing column categories and fill empty values with zero:

In [8]:
pops = (
    pops
    .T
    .reindex(config.states(as_index=True))
    .T
    .fillna(0)
)
pops

age_bin        Birth to 1          1 to 5         5 to 10                    \
placement_type  Fostering Other Fostering Other Fostering Residential Other
date
2013-08-27            0.0   0.0       0.0   0.0       0.0         0.0   1.0
2013-08-28            0.0   0.0       0.0   0.0       0.0         0.0   1.0
2013-08-29            0.0   0.0       0.0   0.0       0.0         0.0   1.0
2013-08-30            0.0   0.0       0.0   0.0       0.0         0.0   1.0
2013-08-31            0.0   0.0       0.0   0.0       0.0         0.0   1.0
...                   ...   ...       ...   ...       ...         ...   ...
2022-03-23            0.0   0.0       0.0   0.0       0.0         0.0   0.0
2022-03-24            0.0   0.0       0.0   0.0       0.0         0.0   0.0
2022-03-25            0.0   0.0       0.0   0.0       0.0         0.0   0.0
2022-03-26            0.0   0.0       0.0   0.0       0.0         0.0   0.0
2022-03-27            0.0   0.0       0.0   0.0       0.0         0.0   0.0

age_bin         10 to 16                   16 to 18+                        \
placement_type Fostering Residential Other Fostering Residential Supported
date
2013-08-27           0.0         0.0   0.0       0.0         0.0       0.0
2013-08-28           0.0         0.0   0.0       0.0         0.0       0.0
2013-08-29           0.0         0.0   0.0       0.0         0.0       0.0
2013-08-30           0.0         0.0   0.0       0.0         0.0       0.0
2013-08-31           0.0         0.0   0.0       0.0         0.0       0.0
...                  ...         ...   ...       ...         ...       ...
2022-03-23          49.0        10.0   9.0       5.0         2.0       9.0
2022-03-24          49.0        10.0   9.0       5.0         2.0       9.0
2022-03-25          50.0        10.0   8.0       5.0         2.0       9.0
2022-03-26          50.0        10.0   8.0       5.0         2.0       9.0
2022-03-27          50.0        10.0   8.0       5.0         2.0       9.0

age_bin
placement_type Other
date
2013-08-27       0.0
2013-08-28       0.0
2013-08-29       0.0
2013-08-30       0.0
2013-08-31       0.0
...              ...
2022-03-23       2.0
2022-03-24       2.0
2022-03-25       2.0
2022-03-26       2.0
2022-03-27       2.0

[3135 rows x 14 columns]

# Transitions

As discussed, this is a stock and flow model, so we also need to look at the flow. We model this as transitions between placements:

In [9]:
stats.transitions

age_bin              Birth to 1                                                \
placement_type        Fostering                       Other
placement_type_after  Fostering Other Not in care Fostering Other Not in care
DEC
2016-08-15                  0.0   0.0         0.0       0.0   0.0         0.0
2016-08-16                  0.0   0.0         0.0       0.0   0.0         0.0
2016-08-17                  0.0   0.0         0.0       0.0   0.0         0.0
2016-08-18                  0.0   0.0         0.0       0.0   0.0         0.0
2016-08-19                  0.0   0.0         0.0       0.0   0.0         0.0
...                         ...   ...         ...       ...   ...         ...
2022-03-23                  0.0   0.0         0.0       0.0   0.0         0.0
2022-03-24                  0.0   0.0         0.0       0.0   0.0         0.0
2022-03-25                  0.0   0.0         0.0       0.0   0.0         0.0
2022-03-26                  0.0   0.0         0.0       0.0   0.0         0.0
2022-03-27                  0.0   0.0         0.0       0.0   0.0         0.0

age_bin                 1 to 5                              ... 16 to 18+  \
placement_type       Fostering                       Other  ... Supported
placement_type_after Fostering Other Not in care Fostering  ... Fostering
DEC                                                         ...
2016-08-15                 0.0   0.0         0.0       0.0  ...       0.0
2016-08-16                 0.0   0.0         0.0       0.0  ...       0.0
2016-08-17                 0.0   0.0         0.0       0.0  ...       0.0
2016-08-18                 0.0   0.0         0.0       0.0  ...       0.0
2016-08-19                 0.0   0.0         0.0       0.0  ...       0.0
...                        ...   ...         ...       ...  ...       ...
2022-03-23                 0.0   0.0         0.0       0.0  ...       0.0
2022-03-24                 0.0   0.0         0.0       0.0  ...       0.0
2022-03-25                 0.0   0.0         0.0       0.0  ...       0.0
2022-03-26                 0.0   0.0         0.0       0.0  ...       0.0
2022-03-27                 0.0   0.0         0.0       0.0  ...       0.0

age_bin                                                                 \
placement_type                                                   Other
placement_type_after Residential Supported Other Not in care Fostering
DEC
2016-08-15                   0.0       0.0   0.0         0.0       0.0
2016-08-16                   0.0       0.0   0.0         0.0       0.0
2016-08-17                   0.0       0.0   0.0         0.0       0.0
2016-08-18                   0.0       0.0   0.0         0.0       0.0
2016-08-19                   0.0       0.0   0.0         0.0       0.0
...                          ...       ...   ...         ...       ...
2022-03-23                   0.0       0.0   0.0         0.0       0.0
2022-03-24                   0.0       0.0   0.0         0.0       0.0
2022-03-25                   0.0       0.0   0.0         0.0       0.0
2022-03-26                   0.0       0.0   0.0         0.0       0.0
2022-03-27                   0.0       0.0   0.0         0.0       0.0

age_bin
placement_type
placement_type_after Residential Supported Other Not in care
DEC
2016-08-15                   0.0       0.0   0.0         0.0
2016-08-16                   0.0       0.0   0.0         0.0
2016-08-17                   0.0       0.0   0.0         0.0
2016-08-18                   0.0       0.0   0.0         0.0
2016-08-19                   0.0       0.0   0.0         0.0
...                          ...       ...   ...         ...
2022-03-23                   0.0       0.0   0.0         0.0
2022-03-24                   0.0       0.0   0.0         0.0
2022-03-25                   0.0       0.0   0.0         0.0
2022-03-26                   0.0       0.0   0.0         0.0
2022-03-27                   0.0       0.0   0.0         0.0

[2051 rows x 56 columns]

This is a bit empty, but we can sum the transitions just to satisfy ourselves there are values in there

In [10]:
stats.transitions.sum(axis=0)

age_bin     placement_type  placement_type_after
Birth to 1  Fostering       Fostering                 0.0
                            Other                     0.0
                            Not in care               0.0
            Other           Fostering                 0.0
                            Other                     0.0
                            Not in care               0.0
1 to 5      Fostering       Fostering                 0.0
                            Other                     0.0
                            Not in care               0.0
            Other           Fostering                 0.0
                            Other                     0.0
                            Not in care               0.0
5 to 10     Fostering       Fostering               305.0
                            Residential              39.0
                            Other                    23.0
                            Not in care              88.0
            Residential     Fostering                33.0
                            Residential              17.0
                            Other                     4.0
                            Not in care              13.0
            Other           Fostering                19.0
                            Residential               2.0
                            Other                    19.0
                            Not in care              14.0
10 to 16    Fostering       Fostering               809.0
                            Residential              69.0
                            Other                    77.0
                            Not in care             345.0
            Residential     Fostering                81.0
                            Residential              68.0
                            Other                     9.0
                            Not in care              49.0
            Other           Fostering                58.0
                            Residential              12.0
                            Other                    57.0
                            Not in care              47.0
16 to 18+   Fostering       Fostering                22.0
                            Residential               2.0
                            Supported                24.0
                            Other                     8.0
                            Not in care              54.0
            Residential     Fostering                 1.0
                            Residential               3.0
                            Supported                 6.0
                            Other                     1.0
                            Not in care              18.0
            Supported       Fostering                15.0
                            Residential               5.0
                            Supported                86.0
                            Other                    14.0
                            Not in care             100.0
            Other           Fostering                 7.0
                            Residential               2.0
                            Supported                 8.0
                            Other                    21.0
                            Not in care              35.0
dtype: float64

To get there we start by looking at all the individual transitions by date and counting them

In [11]:
transitions = stats.df.groupby(
    ["age_bin", "placement_type", "placement_type_after", "DEC"]
).size()
transitions

age_bin    placement_type  placement_type_after  DEC
5 to 10    Fostering       Not in care           2017-04-03    1
                                                 2017-04-04    1
                                                 2017-04-07    1
                                                 2017-05-17    1
                                                 2017-05-20    1
                                                              ..
16 to 18+  Supported       Supported             2021-05-31    1
                                                 2021-10-10    1
                                                 2021-12-31    1
                                                 2022-02-25    1
                                                 2022-03-06    1
Length: 2431, dtype: int64

We can then pivot this to look at each category by date, and then resample these to get daily transitions

In [12]:
transitions = (
    transitions
    .unstack(
        level=["age_bin", "placement_type", "placement_type_after"]
    )
    .fillna(0)
    .asfreq("D", fill_value=0)
)
transitions

age_bin                  5 to 10                                          \
placement_type         Fostering                                   Other
placement_type_after Not in care Fostering Other Residential Not in care
DEC
2016-08-15                   0.0       0.0   0.0         0.0         0.0
2016-08-16                   0.0       0.0   0.0         0.0         0.0
2016-08-17                   0.0       0.0   0.0         0.0         0.0
2016-08-18                   0.0       0.0   0.0         0.0         0.0
2016-08-19                   0.0       0.0   0.0         0.0         0.0
...                          ...       ...   ...         ...         ...
2022-03-23                   0.0       0.0   0.0         0.0         0.0
2022-03-24                   0.0       0.0   0.0         0.0         0.0
2022-03-25                   0.0       0.0   0.0         0.0         0.0
2022-03-26                   0.0       0.0   0.0         0.0         0.0
2022-03-27                   0.0       0.0   0.0         0.0         0.0

age_bin                                                                 ...  \
placement_type                                   Residential            ...
placement_type_after Fostering Other Residential Not in care Fostering  ...
DEC                                                                     ...
2016-08-15                 1.0   0.0         0.0         0.0       0.0  ...
2016-08-16                 0.0   0.0         0.0         0.0       0.0  ...
2016-08-17                 0.0   0.0         0.0         0.0       0.0  ...
2016-08-18                 0.0   0.0         0.0         0.0       0.0  ...
2016-08-19                 0.0   0.0         0.0         0.0       0.0  ...
...                        ...   ...         ...         ...       ...  ...
2022-03-23                 0.0   0.0         0.0         0.0       0.0  ...
2022-03-24                 0.0   0.0         0.0         0.0       0.0  ...
2022-03-25                 0.0   0.0         0.0         0.0       0.0  ...
2022-03-26                 0.0   0.0         0.0         0.0       0.0  ...
2022-03-27                 0.0   0.0         0.0         0.0       0.0  ...

age_bin                16 to 18+                                        \
placement_type       Residential
placement_type_after Not in care Fostering Other Residential Supported
DEC
2016-08-15                   0.0       0.0   0.0         0.0       0.0
2016-08-16                   0.0       0.0   0.0         0.0       0.0
2016-08-17                   0.0       0.0   0.0         0.0       0.0
2016-08-18                   0.0       0.0   0.0         0.0       0.0
2016-08-19                   0.0       0.0   0.0         0.0       0.0
...                          ...       ...   ...         ...       ...
2022-03-23                   0.0       0.0   0.0         0.0       0.0
2022-03-24                   0.0       0.0   0.0         0.0       0.0
2022-03-25                   0.0       0.0   0.0         0.0       0.0
2022-03-26                   0.0       0.0   0.0         0.0       0.0
2022-03-27                   0.0       0.0   0.0         0.0       0.0

age_bin
placement_type         Supported
placement_type_after Not in care Fostering Other Residential Supported
DEC
2016-08-15                   0.0       0.0   0.0         0.0       0.0
2016-08-16                   0.0       0.0   0.0         0.0       0.0
2016-08-17                   0.0       0.0   0.0         0.0       0.0
2016-08-18                   0.0       0.0   0.0         0.0       0.0
2016-08-19                   0.0       0.0   0.0         0.0       0.0
...                          ...       ...   ...         ...       ...
2022-03-23                   0.0       0.0   0.0         0.0       0.0
2022-03-24                   0.0       0.0   0.0         0.0       0.0
2022-03-25                   0.0       0.0   0.0         0.0       0.0
2022-03-26                   0.0       0.0   0.0         0.0       0.0
2022-03-27                   0.0       0.0   0.0         0.0       0.0

[2051 rows x 49 columns]

We now make sure we add and fill any missing categories

In [13]:
transitions = (
    transitions
    .T
    .reindex(config.transitions(as_index=True))
    .T
    .fillna(0)
)
transitions

age_bin              Birth to 1                          1 to 5        \
placement_type        Fostering           Other       Fostering
placement_type_after  Fostering Other Fostering Other Fostering Other
DEC
2016-08-15                  0.0   0.0       0.0   0.0       0.0   0.0
2016-08-16                  0.0   0.0       0.0   0.0       0.0   0.0
2016-08-17                  0.0   0.0       0.0   0.0       0.0   0.0
2016-08-18                  0.0   0.0       0.0   0.0       0.0   0.0
2016-08-19                  0.0   0.0       0.0   0.0       0.0   0.0
...                         ...   ...       ...   ...       ...   ...
2022-03-23                  0.0   0.0       0.0   0.0       0.0   0.0
2022-03-24                  0.0   0.0       0.0   0.0       0.0   0.0
2022-03-25                  0.0   0.0       0.0   0.0       0.0   0.0
2022-03-26                  0.0   0.0       0.0   0.0       0.0   0.0
2022-03-27                  0.0   0.0       0.0   0.0       0.0   0.0

age_bin                                5 to 10              ...   16 to 18+  \
placement_type           Other       Fostering              ... Residential
placement_type_after Fostering Other Fostering Residential  ...   Supported
DEC                                                         ...
2016-08-15                 0.0   0.0       0.0         0.0  ...         0.0
2016-08-16                 0.0   0.0       0.0         0.0  ...         0.0
2016-08-17                 0.0   0.0       0.0         0.0  ...         0.0
2016-08-18                 0.0   0.0       0.0         0.0  ...         0.0
2016-08-19                 0.0   0.0       0.0         0.0  ...         0.0
...                        ...   ...       ...         ...  ...         ...
2022-03-23                 0.0   0.0       0.0         0.0  ...         0.0
2022-03-24                 0.0   0.0       0.0         0.0  ...         0.0
2022-03-25                 0.0   0.0       0.0         0.0  ...         0.0
2022-03-26                 0.0   0.0       0.0         0.0  ...         0.0
2022-03-27                 0.0   0.0       0.0         0.0  ...         0.0

age_bin                                                                     \
placement_type             Supported                                 Other
placement_type_after Other Fostering Residential Supported Other Fostering
DEC
2016-08-15             0.0       0.0         0.0       0.0   0.0       0.0
2016-08-16             0.0       0.0         0.0       0.0   0.0       0.0
2016-08-17             0.0       0.0         0.0       0.0   0.0       0.0
2016-08-18             0.0       0.0         0.0       0.0   0.0       0.0
2016-08-19             0.0       0.0         0.0       0.0   0.0       0.0
...                    ...       ...         ...       ...   ...       ...
2022-03-23             0.0       0.0         0.0       0.0   0.0       0.0
2022-03-24             0.0       0.0         0.0       0.0   0.0       0.0
2022-03-25             0.0       0.0         0.0       0.0   0.0       0.0
2022-03-26             0.0       0.0         0.0       0.0   0.0       0.0
2022-03-27             0.0       0.0         0.0       0.0   0.0       0.0

age_bin
placement_type
placement_type_after Residential Supported Other
DEC
2016-08-15                   0.0       0.0   0.0
2016-08-16                   0.0       0.0   0.0
2016-08-17                   0.0       0.0   0.0
2016-08-18                   0.0       0.0   0.0
2016-08-19                   0.0       0.0   0.0
...                          ...       ...   ...
2022-03-23                   0.0       0.0   0.0
2022-03-24                   0.0       0.0   0.0
2022-03-25                   0.0       0.0   0.0
2022-03-26                   0.0       0.0   0.0
2022-03-27                   0.0       0.0   0.0

[2051 rows x 42 columns]

## Transition Rates

Having looked at the raw numbers, we want to get a feeling for what the probability of transitioning from any placement category to any other. 
We only consider transitions between categories here, probability of moving to a different age category is a separate calculation.

This calculation will vary with time, so we have to provide a start and end date for the following calculations.

In [14]:
start_date, end_date = pd.to_datetime('2019-07-01'), pd.to_datetime('2020-01-01')

In [15]:
stats.raw_transition_rates(start_date, end_date)

age_bin     placement_type  placement_type_after
Birth to 1  Fostering       Fostering               0.000000
                            Other                   0.000000
                            Not in care             0.000000
            Other           Fostering               0.000000
                            Other                   0.000000
                            Not in care             0.000000
1 to 5      Fostering       Fostering               0.000000
                            Other                   0.000000
                            Not in care             0.000000
            Other           Fostering               0.000000
                            Other                   0.000000
                            Not in care             0.000000
5 to 10     Fostering       Fostering               0.002984
                            Residential             0.000270
                            Other                   0.000180
                            Not in care             0.000615
            Other           Fostering               0.000000
                            Residential             0.000000
                            Other                   0.005405
                            Not in care             0.000000
            Residential     Fostering               0.000000
                            Residential             0.001351
                            Other                   0.000000
                            Not in care             0.001351
10 to 16    Fostering       Fostering               0.002789
                            Residential             0.000376
                            Other                   0.000396
                            Not in care             0.001416
            Other           Fostering               0.000257
                            Residential             0.000270
                            Other                   0.001306
                            Not in care             0.001289
            Residential     Fostering               0.000811
                            Residential             0.002195
                            Other                   0.000000
                            Not in care             0.000986
16 to 18+   Fostering       Fostering               0.002048
                            Residential             0.000000
                            Supported               0.000000
                            Other                   0.000000
                            Not in care             0.002048
            Other           Fostering               0.000000
                            Residential             0.000000
                            Supported               0.000000
                            Other                   0.003668
                            Not in care             0.002649
            Residential     Fostering               0.000000
                            Residential             0.000000
                            Supported               0.005405
                            Other                   0.000000
                            Not in care             0.000000
            Supported       Fostering               0.000360
                            Residential             0.000000
                            Supported               0.004610
                            Other                   0.000360
                            Not in care             0.002694
Name: transition_rate, dtype: float64

So, to get these numbers we look at the stock and transition values above, and divide the transitions by the number of individuals moving into the next age bracket

In [16]:
stock = stats.stock.truncate(before=start_date, after=end_date)
transitions = stats.transitions.truncate(before=start_date, after=end_date)
stock, transitions = stock.align(transitions)
transition_rates = transitions / stock.shift(1).fillna(method="bfill")
transition_rates = transition_rates.fillna(0)
transition_rates

age_bin              Birth to 1                                                \
placement_type        Fostering                       Other
placement_type_after  Fostering Other Not in care Fostering Other Not in care
DEC
2019-07-01                  0.0   0.0         0.0       0.0   0.0         0.0
2019-07-02                  0.0   0.0         0.0       0.0   0.0         0.0
2019-07-03                  0.0   0.0         0.0       0.0   0.0         0.0
2019-07-04                  0.0   0.0         0.0       0.0   0.0         0.0
2019-07-05                  0.0   0.0         0.0       0.0   0.0         0.0
...                         ...   ...         ...       ...   ...         ...
2019-12-28                  0.0   0.0         0.0       0.0   0.0         0.0
2019-12-29                  0.0   0.0         0.0       0.0   0.0         0.0
2019-12-30                  0.0   0.0         0.0       0.0   0.0         0.0
2019-12-31                  0.0   0.0         0.0       0.0   0.0         0.0
2020-01-01                  0.0   0.0         0.0       0.0   0.0         0.0

age_bin                 1 to 5                              ...   16 to 18+  \
placement_type       Fostering                       Other  ... Residential
placement_type_after Fostering Other Not in care Fostering  ...   Fostering
DEC                                                         ...
2019-07-01                 0.0   0.0         0.0       0.0  ...         0.0
2019-07-02                 0.0   0.0         0.0       0.0  ...         0.0
2019-07-03                 0.0   0.0         0.0       0.0  ...         0.0
2019-07-04                 0.0   0.0         0.0       0.0  ...         0.0
2019-07-05                 0.0   0.0         0.0       0.0  ...         0.0
...                        ...   ...         ...       ...  ...         ...
2019-12-28                 0.0   0.0         0.0       0.0  ...         0.0
2019-12-29                 0.0   0.0         0.0       0.0  ...         0.0
2019-12-30                 0.0   0.0         0.0       0.0  ...         0.0
2019-12-31                 0.0   0.0         0.0       0.0  ...         0.0
2020-01-01                 0.0   0.0         0.0       0.0  ...         0.0

age_bin                                                                 \
placement_type                                               Supported
placement_type_after Residential Supported Other Not in care Fostering
DEC
2019-07-01                   0.0       0.0   0.0         0.0  0.000000
2019-07-02                   0.0       0.0   0.0         0.0  0.000000
2019-07-03                   0.0       0.0   0.0         0.0  0.000000
2019-07-04                   0.0       0.0   0.0         0.0  0.000000
2019-07-05                   0.0       0.0   0.0         0.0  0.000000
...                          ...       ...   ...         ...       ...
2019-12-28                   0.0       0.0   0.0         0.0  0.000000
2019-12-29                   0.0       0.0   0.0         0.0  0.000000
2019-12-30                   0.0       0.0   0.0         0.0  0.066667
2019-12-31                   0.0       0.0   0.0         0.0  0.000000
2020-01-01                   0.0       0.0   0.0         0.0  0.000000

age_bin
placement_type
placement_type_after Residential Supported Other Not in care
DEC
2019-07-01                   0.0       0.0   0.0         0.0
2019-07-02                   0.0       0.0   0.0         0.0
2019-07-03                   0.0       0.0   0.0         0.0
2019-07-04                   0.0       0.0   0.0         0.0
2019-07-05                   0.0       0.0   0.0         0.0
...                          ...       ...   ...         ...
2019-12-28                   0.0       0.0   0.0         0.0
2019-12-29                   0.0       0.0   0.0         0.0
2019-12-30                   0.0       0.0   0.0         0.0
2019-12-31                   0.0       0.0   0.0         0.0
2020-01-01                   0.0       0.0   0.0         0.0

[185 rows x 56 columns]

This gives us daily transition probabilities, but we're interested in the average rates over the period, so we just calculate the mean rate for each transition.

In [17]:
transition_rates = transition_rates.mean(axis=0)
transition_rates.name = "transition_rate"
transition_rates

age_bin     placement_type  placement_type_after
Birth to 1  Fostering       Fostering               0.000000
                            Other                   0.000000
                            Not in care             0.000000
            Other           Fostering               0.000000
                            Other                   0.000000
                            Not in care             0.000000
1 to 5      Fostering       Fostering               0.000000
                            Other                   0.000000
                            Not in care             0.000000
            Other           Fostering               0.000000
                            Other                   0.000000
                            Not in care             0.000000
5 to 10     Fostering       Fostering               0.002984
                            Residential             0.000270
                            Other                   0.000180
                            Not in care             0.000615
            Other           Fostering               0.000000
                            Residential             0.000000
                            Other                   0.005405
                            Not in care             0.000000
            Residential     Fostering               0.000000
                            Residential             0.001351
                            Other                   0.000000
                            Not in care             0.001351
10 to 16    Fostering       Fostering               0.002789
                            Residential             0.000376
                            Other                   0.000396
                            Not in care             0.001416
            Other           Fostering               0.000257
                            Residential             0.000270
                            Other                   0.001306
                            Not in care             0.001289
            Residential     Fostering               0.000811
                            Residential             0.002195
                            Other                   0.000000
                            Not in care             0.000986
16 to 18+   Fostering       Fostering               0.002048
                            Residential             0.000000
                            Supported               0.000000
                            Other                   0.000000
                            Not in care             0.002048
            Other           Fostering               0.000000
                            Residential             0.000000
                            Supported               0.000000
                            Other                   0.003668
                            Not in care             0.002649
            Residential     Fostering               0.000000
                            Residential             0.000000
                            Supported               0.005405
                            Other                   0.000000
                            Not in care             0.000000
            Supported       Fostering               0.000360
                            Residential             0.000000
                            Supported               0.004610
                            Other                   0.000360
                            Not in care             0.002694
Name: transition_rate, dtype: float64

## Summed Rates

But these rates only reflect those who actually move, and not those who stay within the same category. So we look at how many transition OUT of each state (so also exclude self transitions, such as Foster -> Foster)

In [18]:
stats.summed_rates(start_date, end_date)

age_bin     placement_type
Birth to 1  Fostering         0.000000
            Other             0.000000
1 to 5      Fostering         0.000000
            Other             0.000000
5 to 10     Fostering         0.001065
            Other             0.000000
            Residential       0.001351
10 to 16    Fostering         0.002188
            Other             0.001817
            Residential       0.001797
16 to 18+   Fostering         0.002048
            Other             0.002649
            Residential       0.005405
            Supported         0.003415
Name: transition_rate, dtype: float64

To get these, we start with with the raw rates, exclude self transitions, and then sum the values.

In [19]:
rates = stats.raw_transition_rates(start_date, end_date)
# Exclude self transitions
rates = rates[~rates.index.isin(config.transitions(other_transitions=False))]
# Now sum the remaining rates
rates = rates.reset_index().groupby(["age_bin", "placement_type"]).sum()
rates

                           transition_rate
age_bin    placement_type
Birth to 1 Fostering              0.000000
           Other                  0.000000
1 to 5     Fostering              0.000000
           Other                  0.000000
5 to 10    Fostering              0.001065
           Other                  0.000000
           Residential            0.001351
10 to 16   Fostering              0.002188
           Other                  0.001817
           Residential            0.001797
16 to 18+  Fostering              0.002048
           Other                  0.002649
           Residential            0.005405
           Supported              0.003415

## Remain Rates

We can use these numbers to calculate the probabiliyty of not transitioning, i.e. only the 'self' transitions.

In [20]:
stats.remain_rates(start_date, end_date)

age_bin     placement_type  placement_type_after
Birth to 1  Fostering       Fostering               1.000000
            Other           Other                   1.000000
1 to 5      Fostering       Fostering               1.000000
            Other           Other                   1.000000
5 to 10     Fostering       Fostering               0.998935
            Other           Other                   1.000000
            Residential     Residential             0.998649
10 to 16    Fostering       Fostering               0.997812
            Other           Other                   0.998183
            Residential     Residential             0.998203
16 to 18+   Fostering       Fostering               0.997952
            Other           Other                   0.997351
            Residential     Residential             0.994595
            Supported       Supported               0.996585
Name: residual, dtype: float64

In [21]:
summed = pd.DataFrame(stats.summed_rates(start_date, end_date))
summed["residual"] = 1 - summed.transition_rate
summed

                           transition_rate  residual
age_bin    placement_type
Birth to 1 Fostering              0.000000  1.000000
           Other                  0.000000  1.000000
1 to 5     Fostering              0.000000  1.000000
           Other                  0.000000  1.000000
5 to 10    Fostering              0.001065  0.998935
           Other                  0.000000  1.000000
           Residential            0.001351  0.998649
10 to 16   Fostering              0.002188  0.997812
           Other                  0.001817  0.998183
           Residential            0.001797  0.998203
16 to 18+  Fostering              0.002048  0.997952
           Other                  0.002649  0.997351
           Residential            0.005405  0.994595
           Supported              0.003415  0.996585

In [22]:
summed = summed.reset_index()
summed["placement_type_after"] = summed.placement_type
summed = summed.set_index(["age_bin", "placement_type", "placement_type_after"])
summed

                                                transition_rate  residual
age_bin    placement_type placement_type_after
Birth to 1 Fostering      Fostering                    0.000000  1.000000
           Other          Other                        0.000000  1.000000
1 to 5     Fostering      Fostering                    0.000000  1.000000
           Other          Other                        0.000000  1.000000
5 to 10    Fostering      Fostering                    0.001065  0.998935
           Other          Other                        0.000000  1.000000
           Residential    Residential                  0.001351  0.998649
10 to 16   Fostering      Fostering                    0.002188  0.997812
           Other          Other                        0.001817  0.998183
           Residential    Residential                  0.001797  0.998203
16 to 18+  Fostering      Fostering                    0.002048  0.997952
           Other          Other                        0.002649  0.997351
           Residential    Residential                  0.005405  0.994595
           Supported      Supported                    0.003415  0.996585

## Transition rates

We're now have everything we need to caculate transitions probabilities for all categories by combining the 'raw' rates and the 'self' rates.

In [23]:
stats.transition_rates(start_date, end_date)

age_bin     placement_type  placement_type_after
Birth to 1  Fostering       Fostering               1.000000
                            Other                   0.000000
            Other           Fostering               0.000000
                            Other                   1.000000
1 to 5      Fostering       Fostering               1.000000
                            Other                   0.000000
            Other           Fostering               0.000000
                            Other                   1.000000
5 to 10     Fostering       Fostering               0.998935
                            Residential             0.000270
                            Other                   0.000180
            Residential     Fostering               0.000000
                            Residential             0.998649
                            Other                   0.000000
            Other           Fostering               0.000000
                            Residential             0.000000
                            Other                   1.000000
10 to 16    Fostering       Fostering               0.997812
                            Residential             0.000376
                            Other                   0.000396
            Residential     Fostering               0.000811
                            Residential             0.998203
                            Other                   0.000000
            Other           Fostering               0.000257
                            Residential             0.000270
                            Other                   0.998183
16 to 18+   Fostering       Fostering               0.997952
                            Residential             0.000000
                            Supported               0.000000
                            Other                   0.000000
            Residential     Fostering               0.000000
                            Residential             0.994595
                            Supported               0.005405
                            Other                   0.000000
            Supported       Fostering               0.000360
                            Residential             0.000000
                            Supported               0.996585
                            Other                   0.000360
            Other           Fostering               0.000000
                            Residential             0.000000
                            Supported               0.000000
                            Other                   0.997351
Name: transition_rate, dtype: float64

In [24]:
transition_rates = stats.raw_transition_rates(start_date, end_date)
remain_rates = stats.remain_rates(start_date, end_date)
merged_rates = pd.concat([transition_rates, remain_rates], axis=1)
merged_rates["merged"] = np.where(
    merged_rates.residual.isnull(),
    merged_rates.transition_rate,
    merged_rates.residual,
)
merged_rates

                                                transition_rate  residual  \
age_bin    placement_type placement_type_after
Birth to 1 Fostering      Fostering                    0.000000  1.000000
                          Other                        0.000000       NaN
                          Not in care                  0.000000       NaN
           Other          Fostering                    0.000000       NaN
                          Other                        0.000000  1.000000
                          Not in care                  0.000000       NaN
1 to 5     Fostering      Fostering                    0.000000  1.000000
                          Other                        0.000000       NaN
                          Not in care                  0.000000       NaN
           Other          Fostering                    0.000000       NaN
                          Other                        0.000000  1.000000
                          Not in care                  0.000000       NaN
5 to 10    Fostering      Fostering                    0.002984  0.998935
                          Residential                  0.000270       NaN
                          Other                        0.000180       NaN
                          Not in care                  0.000615       NaN
           Other          Fostering                    0.000000       NaN
                          Residential                  0.000000       NaN
                          Other                        0.005405  1.000000
                          Not in care                  0.000000       NaN
           Residential    Fostering                    0.000000       NaN
                          Residential                  0.001351  0.998649
                          Other                        0.000000       NaN
                          Not in care                  0.001351       NaN
10 to 16   Fostering      Fostering                    0.002789  0.997812
                          Residential                  0.000376       NaN
                          Other                        0.000396       NaN
                          Not in care                  0.001416       NaN
           Other          Fostering                    0.000257       NaN
                          Residential                  0.000270       NaN
                          Other                        0.001306  0.998183
                          Not in care                  0.001289       NaN
           Residential    Fostering                    0.000811       NaN
                          Residential                  0.002195  0.998203
                          Other                        0.000000       NaN
                          Not in care                  0.000986       NaN
16 to 18+  Fostering      Fostering                    0.002048  0.997952
                          Residential                  0.000000       NaN
                          Supported                    0.000000       NaN
                          Other                        0.000000       NaN
                          Not in care                  0.002048       NaN
           Other          Fostering                    0.000000       NaN
                          Residential                  0.000000       NaN
                          Supported                    0.000000       NaN
                          Other                        0.003668  0.997351
                          Not in care                  0.002649       NaN
           Residential    Fostering                    0.000000       NaN
                          Residential                  0.000000  0.994595
                          Supported                    0.005405       NaN
                          Other                        0.000000       NaN
                          Not in care                  0.000000       NaN
           Supported      Fostering                    0.000360       NaN
                          Residential                  0.000000       NaN
                          Supported                    0.004610  0.996585
                          Other                        0.000360       NaN
                          Not in care                  0.002694       NaN

                                                  merged
age_bin    placement_type placement_type_after
Birth to 1 Fostering      Fostering             1.000000
                          Other                 0.000000
                          Not in care           0.000000
           Other          Fostering             0.000000
                          Other                 1.000000
                          Not in care           0.000000
1 to 5     Fostering      Fostering             1.000000
                          Other                 0.000000
                          Not in care           0.000000
           Other          Fostering             0.000000
                          Other                 1.000000
                          Not in care           0.000000
5 to 10    Fostering      Fostering             0.998935
                          Residential           0.000270
                          Other                 0.000180
                          Not in care           0.000615
           Other          Fostering             0.000000
                          Residential           0.000000
                          Other                 1.000000
                          Not in care           0.000000
           Residential    Fostering             0.000000
                          Residential           0.998649
                          Other                 0.000000
                          Not in care           0.001351
10 to 16   Fostering      Fostering             0.997812
                          Residential           0.000376
                          Other                 0.000396
                          Not in care           0.001416
           Other          Fostering             0.000257
                          Residential           0.000270
                          Other                 0.998183
                          Not in care           0.001289
           Residential    Fostering             0.000811
                          Residential           0.998203
                          Other                 0.000000
                          Not in care           0.000986
16 to 18+  Fostering      Fostering             0.997952
                          Residential           0.000000
                          Supported             0.000000
                          Other                 0.000000
                          Not in care           0.002048
           Other          Fostering             0.000000
                          Residential           0.000000
                          Supported             0.000000
                          Other                 0.997351
                          Not in care           0.002649
           Residential    Fostering             0.000000
                          Residential           0.994595
                          Supported             0.005405
                          Other                 0.000000
                          Not in care           0.000000
           Supported      Fostering             0.000360
                          Residential           0.000000
                          Supported             0.996585
                          Other                 0.000360
                          Not in care           0.002694

## Entrants

Finally, there is another key number which is how many new children enter the system each day.

In [25]:
stats.daily_entrants(start_date, end_date)

age_bin   placement_type
5 to 10   Fostering         0.005435
10 to 16  Fostering         0.021739
Name: daily_entry_probability, dtype: float64

We get this view by looking at episodes starting in the analysis period and did not have an immediately preceeding episode.

In [26]:
df = stats.df
df = df[(df["DECOM"] >= start_date) & (df["DECOM"] <= end_date)]
df = df[df["placement_type_before"] == config.PlacementCategories.NOT_IN_CARE]
df

,CHILD,SEX,DOB,ETHNIC,UPN,MOTHER,MC_DOB,DECOM,RNE,LS,...,HOME_POST,PL_POST,URN,age,end_age,age_bin,end_age_bin,placement_type,placement_type_before,placement_type_after
418,119095,1,2007-12-05,BAFR,T057528386915,NaN,NaN,2019-07-22,P,C1,...,D28 4TT,B1 9VV,1699679,11.627971,11.847005,10 to 16,10 to 16,Fostering,Not in care,Fostering
1,185992,2,2009-07-29,BAFR,U054252063976,NaN,NaN,2019-07-05,S,V2,...,U14 6TW,W15 1SU,7166363,9.933195,12.194721,5 to 10,10 to 16,Fostering,Not in care,Not in care
409,262711,2,2007-09-14,REFU,S081687881585,NaN,NaN,2019-07-08,S,J2,...,T26 3XF,L21 6RT,1108144,11.814150,12.150914,10 to 16,10 to 16,Fostering,Not in care,Residential
94,479556,1,2006-04-15,MWBA,A054171871308,NaN,NaN,2019-09-28,S,J3,...,L18 7XD,W30 2YS,3056616,13.454167,13.714270,10 to 16,10 to 16,Fostering,Not in care,Fostering
158,536218,1,2009-07-25,OOTH,B080852841567,NaN,NaN,2019-07-31,S,D1,...,M23 8BA,G25 6UN,8142670,10.015332,10.732669,10 to 16,10 to 16,Fostering,Not in care,Fostering

We group these by state and count

In [27]:
df = df.groupby(["age_bin", "placement_type"]).size()
df.name = "entrants"
df

age_bin   placement_type
5 to 10   Fostering         1
10 to 16  Fostering         4
Name: entrants, dtype: int64

Based on the period of analysis (the start and end dates) we calculate the probability per day

In [28]:
df = df.reset_index()
df["period_duration"] = (end_date - start_date).days
df["daily_entry_probability"] = df["entrants"] / df["period_duration"]
df = df.set_index(["age_bin", "placement_type"])
df

                         entrants  period_duration  daily_entry_probability
age_bin  placement_type
5 to 10  Fostering              1              184                 0.005435
10 to 16 Fostering              4              184                 0.021739